<!DOCTYPE html>
<html>
<head>
  <title>tbl_empresas</title>
  <meta charset="UTF-8">
  <script src="validation/validateCompany.js"></script>
</head>
<body>
<form action="../controller/validation/validationCompany.php" method="post">
  <p>Datos de la Empresa</p>
    Nit: 
    <input type="number" name="nit" placeholder="000000000-1" required>
    <br>
    Nombre: 
    <input type="text" name="nombre_empresa" placeholder="Nombre de la empresa" required>
    <br>
    Sector Económico
    <input type="text" name="sector_economico" placeholder="Indique el sector económico al que pertenece" required>
    <br>
    Dirección: 
    <input  type="pate" name="direccion_empresa" placeholder="Dirección de la empresa" required>
    <br>
    Correo electrónico: 
    <input type="email" name="mail_empresa" placeholder="empresa@empresa.com" required>
    <br>
    Teléfono: 
    <input type="tel" name="telefono_empresa" placeholder="555-55-55" required>
    <br>
    Celular: 
    <input type="tel" name="celular_empresa" placeholder="333-333-33-33" required>
    <br>
  <p>Datos del Propietario</p>
    Nombre: 
    <input type="text" name="propietario" placeholder="Nombre del propietario" required>
    <br>
    Dirección: 
    <input type="text" name="direccion_propietario" placeholder="Dirección del propietario" required>
    <br>
    Correo electrónico: 
    <input type="email" name="mail_propietario" placeholder="propietario@propietario.com" required>
    <br>
    Teléfono: 
    <input type="tel" name="telefono_propietario" placeholder="555-55-55" >
    <br>
  <p>Datos del Representante Legal</p>
    Nombre: 
    <input type="text" name="representante" placeholder="Nombre del representante legal" required>
    <br>
    Dirección: 
    <input type="text" name="direccion_representante" placeholder="Dirección del representante legal">
    <br>
    Correo electrónico: 
    <input type="text" name="mail_representante" placeholder="representante@representante.com" required>
    <br>
    Teléfono: 
    <input type="tel" name="telefono_representante" placeholder="555-55-55">
    <br>
    Adjunte acá el logo de su empresa: 
    <input type="file" name="logo" placeholder="Adjunte su logo" required>
    <br>

  <input type="submit" value="Registrar Empresa">
</form>
</body>
</html>