

.containerButton{
    width: 100%;;
    text-align: center;
    
}

.styleText{
    text-transform: initial;
}



.descriptionCompany{
    font-size: 18px;
    font-weight: 300;
    line-height: 1.1;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    display: block;
    margin-block-start: 0.3em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

.titleProducts{
    font-size: 20px;
    color: red;
}


.descriptionProducts{
    font-size: 18px;
    font-weight: 300;
    line-height: 1.1;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin-block-start: 0.3em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

.redesContainer{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

}

.redesContainer span{
    margin-top: -8px;
}

.tittleBanner{
    text-shadow: 2px 2px 0 #fff;
    color: #D03D23;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.descriptionBanner{
    text-shadow: 2px 2px 0 #000
}

.btnBanner{
    background-color: #1E416B;
    color: #fff;
    border-radius: 0.5em;
}

.btnBanner:hover{
    background-color: #E0B61D;
    color: #1E416B;

}
.btnSeeMore{
    color: #fff;
    background-color: #1E416B;
}

.btnSeeMore:hover{
    background-color: #E0B61D;
    color:#1E416B;
}
.itemInfoCompany{
    margin-bottom: 1em;
    display: flex;
    align-items: center;
}

.pdpPanelInfoCompany{
    border: 1px solid #1E416B;
    border-radius: 0.5em;
    padding: 0em 1em;
}

.pdpTitleRedes{
    text-align: center;
    margin-bottom: 0.7em;
    color: #1E416B;
}

.pdpPanelRedes{
    margin-top: 0.5em;
    border: 1px solid #1E416B;
    border-radius: 0.5em;
    padding: 0em 1em 1em  1em;
}

.colorBlue{
    color:#1E416B;
    font-weight: 500;
    padding-left: 1em;
    padding-right: 0.5em;
}

.pdpTitleCompany{
    font-weight: 600;
    color: #D03D23;
    font-size: 30px;
}
.pdpTitleProduct{
    font-weight: 600;
    color: #1E416B;
    font-size: 28px;
}

.pdpTitleMessage{
    font-weight: 600;
    color: #1E416B;
    font-size: 22px;
    padding-left: 2.3em;
}

.pdpCategoryContainer{
    margin-top: 1em;
    width: 100%;
    border-bottom: 2px solid #1E416B;
    
}
.pdpCategoryTitle{
    background-color: #1E416B;
    color: #fff;
    font-size: 16px;
    width: auto;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    border-radius: 50%;
    float: right;
}
.pdpCategoryDescription{
    padding-left: 1em;
    text-overflow: ellipsis;
    overflow:hidden;
    white-space:nowrap;
    width: 10px;
    color: #1E416B;
}

.titleBannerBig{
    font-size: 35px;
    text-shadow: 2px 2px 0 #000
}

.containerFormMessage{
    background-color: rgba(0,0,255,0.01);
    padding: 0.5em;
    border-radius: 1em;;
}

.pdpButoomForm{
    padding: 0.5em;
    background-color: #1E416B;
    color: #fff;
    font-size: 16px;
    border-radius: 1px solid #f00;
}